*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-purple: #1D0B1B;
    --secondary-purple: #da27c556;
    --primary-gray: #DCE1E9;
    --secondary-gray: #949DC7;
    --highlight-green: #DBFF36;
    --highlight-salmon: #F8938B;
}

html,body{ margin:0; padding:0; height:200%; width:100%;
    background-color: var(--primary-purple);
}




.main-container{
    height: 90vh;
    width: 100%;
    left: 0;
    top: 0;
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;
    justify-content: space-evenly;
}


.main-frame{
    min-height: 150px;
    min-width: 320px;

    border-style: solid;
    border-color: var(--primary-gray);
    border-width: thin;

    padding: 12px 12px;
}

h1,h2,h3{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}


.main-frame h1 {
    color:var(--highlight-salmon);
    margin: 0px 3px;
    font-size: calc(min(32px + 2vw, 72px));
    /*font-size: 35px;*/
}

.main-frame h2 {
    color:var(--primary-gray);
    margin: 8px 6px;
    /*font-size: 22px;*/

    font-size: calc(min(16px + 2vw, 56px));
    
}

.main-frame h3 {
    color:var(--secondary-gray);
    font-size: calc(min(14px + 1vw, 34px));
}

.main-frame .right{
    text-align: right;
    margin-top: calc(18px + 1vh);
}


.social-links i{
    color: var(--primary-gray);
}


/*desktop*/
@media (min-width: 768px){
    .social-links{
        position: fixed;
        right: 0;
        display: flex;
        flex-direction: column;
        margin-right: 25px;
        height:280px;
        width: 60px;

        justify-content: space-between;
    }

    .social-links i{
        font-size: 60px;
        display: inline-block;
        width: 60px;
        height: 60px;

        color: var(--primary-gray);
    }

    .social-links i:hover{
        font-size: 66px;
    }

    .main-frame{
        margin-top: 5vh;
    }
}



/*mobile*/
@media (max-width: 768px){
    .social-links{
        width: auto;

        flex-direction: row;
        justify-content: flex-end;
        

    }

    .social-links i{
        font-size: 40px;
        margin: 0 4px;
    }

    .main-container{
        margin-top: 5vh;
        justify-content: flex-start;
    }

    .main-frame{
        margin-top: 20vh;
    }

    .scroll-call{
        margin-top: 30vh;
    }
}

.scroll-call{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: calc(min(15px + 1vw, 30px));
    color: var(--primary-purple);
    background-color: var(--highlight-green);
    border-radius: 10px;
    padding: 0 8px;

    position: absolute;
    top: 93%;
    margin: 0 auto;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background-color: var(--primary-purple);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: var(--secondary-purple);
    border-radius: 8px;
}

